<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" height="500px" alt="cat profile">
<p>
  I'm a passionate learner on a journey to become a successful full-stack developer, currently diving deep into the MERN stack, Python, DSA, and real-world projects. While building my technical skills, I’m equally committed to holistic growth—fueling my body with a clean, plant-based diet, practicing daily meditation for mental clarity, and staying connected with my family. I believe in balance: between health and hustle, mind and code, ambition and peace. Whether it’s writing efficient algorithms or nurturing inner calm, I strive to grow a little every day—physically, mentally, and professionally. For me, success isn’t just a number—it’s living with purpose, discipline, and joy.
</p>